[MASTER]
ignore=tests, venv

[MESSAGES CONTROL]
# Disable specific warnings:
# C0111: Missing docstring (can be annoying in early dev)
# C0103: Variable name "x", "y" invalid (bad for math/ML code)
disable=C0111, C0103

[REPORTS]
output-format=text
reports=yes
score=yes