name: Build and Commit LaTeX PDF

on:
  push:
    paths:
      - "docs/SOTA/**"

permissions:
  contents: write 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v3
        with:
          root_file: docs/SOTA/main.tex
          extra_args: "-interaction=nonstopmode -file-line-error -shell-escape"
          latexmk_user_conf: |
            # Disable halt-on-error
            $pdflatex = 'pdflatex -interaction=nonstopmode -file-line-error -shell-escape';

      - name: Commit PDF
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add docs/SOTA/main.pdf
          git commit -m "Auto-build PDF from main.tex" || echo "No changes to commit"
          git push
