name: Build and Commit LaTeX PDF

on:
  push:
    paths:
      - "docs/report.tex"

permissions:
  contents: write 
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install LaTeX
        uses: xu-cheng/latex-action@v3
        with:
          root_file: docs/SOTA/main.tex

      - name: Commit PDF
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add docs/SOTA/report.pdf
          git commit -m "Auto-build PDF from report.tex" || echo "No changes to commit"
          git push