name: Build and Commit LaTeX PDF

on:
  push:
    paths:
      - "docs/SOTA/**"

permissions:
  contents: write 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build PDF
        uses: xu-cheng/latex-action@v3
        with:
          root_file: docs/SOTA/main.tex
          latexmk_use_biber: false 
          latexmk_shell_escape: true
          extra_args: "-interaction=nonstopmode -file-line-error"
          continue_on_error: true

      - name: Commit PDF
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add docs/SOTA/main.pdf
          git commit -m "Auto-build PDF from main.tex" || echo "No changes to commit"
          git push
